version: '3.7'
services:
    web:
        build:
            context: ./bin/webserver
        restart: always
        links:
            - mysql
        ports:
            - 3000:3000
        volumes:
            - ${DOCUMENT_ROOT-./www}:/var/www/html
            - ${PHP_INI-./config/php/php.ini}:/usr/local/etc/php/php.ini
            - ${VHOSTS_DIR-./config/vhosts}:/etc/apache2/sites-enabled
            - ${LOG_DIR-./logs/apache2}:/var/log/apache2
    mysql:
        image: mysql
        restart: always
        ports:
            - 2000:2000
        volumes:
            - ${MYSQL_DATA_DIR-./data/mysql}:/var/lib/mysql
            - ${MYSQL_LOG_DIR-./logs/mysql}:/var/log/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: titanium
            MYSQL_USER: titanium
            MYSQL_PASSWORD: titanium
    adminer:
        image: adminer
        restart: always
        links:
          - mysql
        ports:
            - 8080:8080
